
/* বিগহিনার হিসেবে অনেক ভুল এবং অনেক কমতি থাকতে পারে,
সেসব ভুল আমাদের ধরিয়ে দিলে সেসব ঠিক করার চেষ্টা করবো। */

* {
    margin: 0px;
    padding: 0px;
}

/* manu bar starts */
.logo-photo {
    width: 180px;
    height: 15vh;
    box-shadow: 2px 2px 5px;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 99, 71, 0.476);
}

.menu-bar {
    /* height: 10vh; */
    background-color: rgba(234, 134, 199, 0.678);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.options {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}

.lis:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
}

/* banner section starts */

.banner-section {
    height: 809px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-content: center;
}

.banner-text {
    padding: 50px;
    text-align: left;
}

.bnr-img {
    width: 635px;
    height: 800px;
    padding: 10px 10px 0px 100px;
}

.primary-hd {
    font-size: 80px;
    display: flex;
    width: 708px;
    flex-direction: column;
}

.primary-pg {
    font-size: 20px;
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

.primary-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    box-shadow: 3px 3px 10px;
    font-size: 20px;
}

.primary-btn:hover {
    cursor: pointer;
}


/* bonus section starts */



/* the hot deal section starts */
.deal-container {
    /* width: 1922px; */
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
}

.deal-hd {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
}

.deal-mid {
    text-align: center;
    padding: 20px;
    margin: auto;
}

.deal-img {
    text-align: center;
    margin: auto;
}

/* instagram section starts */
.instagram-part {
    text-align: center;
    justify-content: space-around;
    background-color: white;
    height: 100vh;
    align-items: center;
    margin-bottom: 200px;
}

.insta-pg {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pic-part {
    padding: 180px;
}

.insta-pic {
    display: flex;
    gap: 23px;
    text-align: center;
    justify-content: center;

}

/* get the latest deal part starts here */

.subscribe-part {
    background-image: url('Flower Asset/Rectangle\ 9.png');
    height: 450px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    text-align: center;
    justify-content: space-around;
}

.inpt {
    width: 700px;
    height: 58px;
    border-radius: 10px;
    background: #FFF;
    margin-right: 10px;
    text-align: left;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
}

.center {
    text-align: center;
    padding: 85px;
}

/* final task footer section starts here */
footer {
    height: 450px;
    background-color: #111010;
    color: white;
}
.footer-content {
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.primary-color {
    color: #E55473;
}
.foter-hd {
    padding-top: 80px;
    font-size: 65px;
}
.foter-pg {
    color: rgba(255, 255, 255, 0.90);
font-size: 23px;
font-weight: 400;
line-height: 30px;
padding: 20px;
}
.end-line {
    color: rgba(255, 255, 255, 0.40);
font-size: 19px;
font-weight: 400;
}

/* The End */

/* বিগহিনার হিসেবে অনেক ভুল এবং অনেক কমতি থাকতে পারে,
সেসব ভুল আমাদের ধরিয়ে দিলে সেসব ঠিক করার চেষ্টা করবো। */