/* বিগহিনার হিসেবে অনেক ভুল এবং অনেক কমতি থাকতে পারে,
সেসব ভুল আমাদের ধরিয়ে দিলে সেসব ঠিক করার চেষ্টা করবো। */

* {
    margin: 0px;
    padding: 0px;
}

/* manu bar starts */
.logo-photo {
    width: 180px;
    height: auto;
    box-shadow: 2px 2px 5px;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 99, 71, 0.476);
    cursor: pointer;
}

.menu-bar {
    background-color: rgba(234, 134, 199, 0.678);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.options {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}

.lis:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
    padding: 5px;
}

/* banner section starts */

.banner-section {
    height: 809px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-content: center;
}

.banner-text {
    padding: 50px;
    text-align: left;
}

.bnr-img {
    width: 635px;
    height: 800px;
    padding: 10px 10px 0px 100px;
}

.primary-hd {
    font-size: 80px;
    display: flex;
    width: 708px;
    flex-direction: column;
}

.primary-pg {
    font-size: 20px;
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
}

.primary-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    box-shadow: 3px 3px 10px;
    font-size: 20px;
}

.primary-btn:hover {
    cursor: pointer;
    padding: 25px 45px;
}


/* bonus section starts */

.bonus {
    height: 1700px;
    width: auto;
}

.picture-row {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-around;
    width: 1700px;
    margin: auto;
}

.pic-text {
    height: 200px;
    display: flex;
    width: 1330px;
    justify-content: space-between;
    margin: auto;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    gap: 340px;
    margin-top: 25px;
}


.boxx {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 465px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 1px 1px 5px;
}

.boxx:hover {
    background-color: #e5a9b6;
    padding: 15px;
}

.two {
    background-color: rgba(5, 151, 160, 0.15);
}

.three {
    background-color: rgba(71, 125, 17, 0.15);
}

.boxx-img {
    height: min-content;
    width: min-content;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 120px;
    align-items: center;
}

.grn-ylw {
    padding-top: 75px;
}

/* bottom icons */

.icon-row {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1600px;
    height: 320px;
    align-items: center;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.box {
    font-size: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 5px;
    padding: 30px;
}

.box:hover {
    background-color: gainsboro;
    padding: 40px;
}

/* the hot deal section starts */

.deal-container {
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
}

.deal-hd {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
}

.deal-mid {
    text-align: center;
    padding: 20px;
    margin: auto;
}

.deal-img {
    text-align: center;
    margin: auto;
}

/* instagram section starts */

.instagram-part {
    text-align: center;
    justify-content: space-around;
    background-color: white;
    height: 1400px;
    align-items: center;
    margin-bottom: 200px;
}

.insta-pg {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pic-part {
    padding: 180px;
}

.insta-pic {
    display: flex;
    gap: 23px;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}

/* get the latest deal part starts here */

.subscribe-part {
    background-image: url('Flower Asset/Rectangle\ 9.png');
    height: 450px;
    width: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}

.inpt {
    width: 700px;
    height: 58px;
    border-radius: 10px;
    background: #FFF;
    margin-right: 10px;
    text-align: left;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
}

.center {
    text-align: center;
    padding: 85px;
}

/* this is the extra part added by me */

.info-per {
    height: 1500px;
    width: auto;
    background-image: url("Flower Asset/gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-bottom: 300px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgb(232, 209, 209);
}

.buy {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 150px;
    align-items: center;
}

.buyy {
    height: 750px;
    width: 500px;
    background-image: url("Flower Asset/gradienttype2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    box-shadow: 1px 1px 5px;
    gap: 40px;
}

.buyy:hover {
    box-shadow: 3px 3px 5px;
    padding: 25px;
}

.buy-img {
    height: 3000;
    width: 3000;
    padding-top: 50px;
}
.heding {
    height: 250px;
    width: auto;
    background-color: #ffe9ee;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: space-around;
    display: flex;
    margin: auto;
    padding: 50px;
    align-items: center;
    margin-bottom: 350px;
}

/* final task footer section starts here */

footer {
    height: 500px;
    background-color: #111010;
    color: white;
    padding: 30px;
}

.footer-content {
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.primary-color {
    color: #E55473;
    font-weight: bolder;
}

.foter-hd {
    padding-top: 80px;
    font-size: 80px;
    text-align: center;
}

.foter-pg {
    color: rgba(255, 255, 255, 0.90);
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 50px;
}

.end-line {
    color: rgba(255, 255, 255, 0.40);
    font-size: 19px;
    font-weight: 400;
    padding-top: 90px;
}

/* The End */

/* বিগহিনার হিসেবে অনেক ভুল এবং অনেক কমতি থাকতে পারে,
সেসব ভুল আমাদের ধরিয়ে দিলে সেসব ঠিক করার চেষ্টা করবো। */

/* এটা করতে অনেক নাকানি-চুবানি খেয়েছি,, অনেক না... মোটামুটি বলতে পারেন,
 চেষ্টা করেছি নিজের সেরাটা দেয়ার,, আপনাদের সেখানো জ্ঞান দিয়েই করেছি,
  অতিরিক্ত কিছু পারি ও না,দেই ও নি, ফরমশেন মেলানোর জন্য অনেক ক্লাস ব্যবহার করে ফেলেছি  */